<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84283179404-qjc44coh5o0mgag17mah0gpdc8u3vu5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84283179404-qjc44coh5o0mgag17mah0gpdc8u3vu5g</string>
	<key>API_KEY</key>
	<string>AIzaSyBT2_GduRPwrI2LmACOH1DaUEcGCvKqbig</string>
	<key>GCM_SENDER_ID</key>
	<string>84283179404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moca.hira22.mokumoku-members</string>
	<key>PROJECT_ID</key>
	<string>mokumoku-members</string>
	<key>STORAGE_BUCKET</key>
	<string>mokumoku-members.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84283179404:ios:f9079bc5427a72b24596a9</string>
	<key>DATABASE_URL</key>
	<string>https://mokumoku-members.firebaseio.com</string>
</dict>
</plist>